@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html{
  scroll-behavior: smooth !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    
}





@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  
  .titleShadowXL {
    color: #E66350;
    text-shadow: -0.7vw -0.7vw 0px #8d0808;
  }

  .titleShadowLg {
    color: #E66350;
    text-shadow: -11px -11px 0px #8d0808;
  }

  .titleShadowMd {
    color: #E66350;
    text-shadow: -5px -5px 0px #8d0808;
  }

 

  .titleShadowSm {
    color: #E66350;
    text-shadow: -3px -3px 0px #8d0808;
  }



  .fixed-navbar {
    position: sticky !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000 !important; /* Ensure it stays on top of other content */
  }
 
}

colgroup {
  width: 100%;
color: #f2f0ef7a;
}

.noise-bg {
  position: relative;
  z-index: 1;
}

.noise-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/Noise bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2; /* 50% transparency */
  z-index: -1;
}

.noise-bg > * {
  position: relative; /* Keep the content above the background */
  z-index: 2;
}
.dimmed-text-08 {
  color: rgba(var(--foreground-rgb), 0.8);
}
.dimmed-text-07 {
  color: rgba(var(--foreground-rgb), 0.7);
}
.dimmed-text-06 {
  color: rgba(var(--foreground-rgb), 0.6);
}
.dimmed-text-05 {
  color: rgba(var(--foreground-rgb), 0.5);
}
.dimmed-text-04 {
  color: rgba(var(--foreground-rgb), 0.4);
}


/*Contact section*/

.messageModal{
  font-size: 1rem !important;


}

.messageModal .ant-btn{
  background-color: #E66350 !important;
  color: #111111 !important;
  font-weight: 600 !important;

}

.messageModal .ant-modal-content{
  background-color: #111111 !important;
  color: #111111 !important;


}

.messageModal .anticon-check-circle{
  color: #cef26a !important;
}
.ant-modal-wrap{
  display: flex !important;
  align-items: center !important;
  background-color: #00000099;
}

.messageModal .ant-modal-confirm-content{
  color: #ffffff !important;
}

.messageBox{
  font-size: 1rem !important;
}

.messageBox .ant-message-notice-content{
  background-color: #111111 !important;
  color: #ffffff !important;

}

.messageBox .anticon-check-circle{
  color: #cef26a !important;


}


.hidden-overlay {
  display: none !important;
}






.MainModalBTN:hover{
  background-color: #E34F3A !important;
}

.Project-Card:hover .MainModalBTN {
  background-color: #E34F3A !important; /* Change to your desired hover color */
}

.ant-modal-footer button{
  background-color: #E34F3A !important; /* Change to your desired hover color */
  border-color: #E34F3A !important;
}

.ant-modal-footer button:hover{
  
  color: #f2f0ef !important;
    border-color: #E34F3A !important;

}

.ant-modal-footer button:active{
  
  color: #E34F3A;
    border-color: #E34F3A;

}




.ant-modal-content{

  background-color: #111111 !important;
  color: #ffffff !important;
}

.ant-modal-title{
  background-color: #111111 !important;
  color: #ffffff !important;
}